
<div class="row">
        <div class="col-md-8 blog-main">
         
           <div class="blog-post">
           	<strong> 
           		<h2 class="blog-post-title">
           			<%= @blog.title %>
           		</h2> 
           	</strong>

           	<p> <%= @blog.topic.title %> </p>
           	<p class="blog-post-meta"> Published <%= distance_of_time_in_words(@blog.created_at, Time.now) %> ago</p>

           	<nav aria-label="breadcrumb" class="breadcrumb">
           	    <%= link_to "Home", root_path, class: "breadcrumb-item" %> 
           	    <%= link_to "Blogs", blogs_path, class: "breadcrumb-item" %> <%= link_to @blog.topic.title, topic_path(@blog.topic.id), class: "breadcrumb-item" %> 
           	    <span class="breadcrumb-item active" aria-current="page">
           	    	<%= @blog.title %> </span>
           	 </nav>

           	 <div class="float-right">

           	 <%= render partial: 'blogs/admin_actions', locals: { blog: @blog } %>

           	</div>

           	<p><%= markdown(@blog.body) %></p>

           	<%= link_to fa_icon('back-left'), blogs_path %> 
          </div>

            <%= render "comments/comment_form" %>


          <div id="comments" data-blog-id="<%= @blog.id %>">
            <%= render @blog.comments %>
          </div>

        
        </div>
        <div>
        <%= render 'shared/blog_sidebar' %>
        </div>
</div>



