	<div class="col-md-4">
        <div class="card mb-4 box-shadow" data-id="<%= portfolio_item.id %>">
				  
          <%= image_tag portfolio_img(portfolio_item.thumb_image, 'thumb') %>

                <div class="card-body" >
                  <p class="card-text">
                  	<span>
                  		<strong>
                  			<%= link_to portfolio_item.title, porto_path(portfolio_item.id) %>
                  			
                  		</strong>
                  	</span>
                  	<span><em>
                  		<%= portfolio_item.subtitle %>
                  	</em></span>
						
					</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">

                      <%= link_to "View", porto_path(portfolio_item.id), class: "btn btn-sm btn-outline-secondary" %>
                      
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>

