<h1><%= @portfolio_item.title %> </h1>

<%= link_to "Edit", edit_porto_path(@portfolio_item.id) if logged_in?(:admin) %>
<%= link_to "Delete", porto_path, method: :delete, data: { confirm: 'Delete Portfolio Item?'} if logged_in?(:admin)%>
<%= image_tag @portfolio_item.main_image %>

<h2><%= @portfolio_item.subtitle %> </h2>

<p><%= @portfolio_item.body %> </p>

<% @portfolio_item.technologies.each do |t| %>
	<p><%= t.name %> </p>
<%end %>

