<!DOCTYPE html>
<html>
  <head>
    
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content=<%= @seo_keywords %> />
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <title><%= @page_title %></title>
  </head>
<body class="text-center">
      <%= render "shared/application_nav" %>
             
      <%= yield %>

      <%= render "shared/application_footer" %>

    </div>

</body>
</html>
